.card {
    background-color: rgb(38 38 38);
    box-shadow: 0 0 12px 12px rgb(213, 213, 213);
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    margin: auto !important;
}

.form {
    background-color: rgb(38 38 38);
    padding: 10px;
    border-radius: 25px;
    margin: auto !important;
}

.title {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 8px 16px;
}

.buttonCard {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 15px 15px;
    margin-top: 24px;
    border: 0;
    background: hsl(36, 97%, 63%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.buttonNavbar {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 0;
    width: 45%;
    background: hsl(36, 97%, 63%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}