.card {
    background-color: #272727;
    width: 400px;
    padding: 10px;
    border-radius: 25px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 50px !important;
}

.title {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.buttonCard {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    margin-right: 10px !important;
    padding: 15px 15px;
    margin-top: 15px;
    border: 0;
    background: hsl(36, 97%, 63%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.buttonNavbar {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    border: 0;
    background: hsl(36, 97%, 63%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}